.productDetail {
  margin-top: 116px;
}

.productDetail__container {
  max-width: 1200px;
  margin: auto;
  padding: 0 40px;
}

.productDetail__wrapper {
  display: flex;
  gap: 20px;
}

.productDetail__imgDetails {
  width: 70%;
}

.productDetail__imgDetails > ul {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}

.productDetail__imgDetails > ul > li {
  width: 50%;
  padding: 10px;
}

.productDetail__info {
  width: 30%;
}

.productDetail__price {
  display: flex;
  justify-content: space-between;
}

.productDetail__img {
  width: 120px;
}

.productDetail__size {
  display: flex;
  flex-wrap: wrap;
}

.productDetail__size > li {
  cursor: pointer;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ccc;
  margin: 5px;
}

.productDetail__size > li.active {
  border: 1px solid #000;
}

.productDetail__btn {
  display: flex;
  justify-content: space-between;
}
